        /*~~~~~ F O N T S ~~~~~*/
@font-face {
    src: url(fonts/ZillaSlab-Bold.ttf);
    font-family: zillabold;
}
@font-face {
    src: url(fonts/ZillaSlab-Light.ttf);
    font-family: zilla;
}
@font-face {
    src: url(fonts/PassionOne-Bold.ttf);
    font-family: passion;
}
        /*~~~~~ G L O B A L ~~~~~*/
* {
    margin: 0;
    padding: 0;
  }
html {
    height: 100vh;
    margin: 0;
}
body { 
    background-color: rgba(125, 255, 194, 0.459);
    height: 96%;
    margin: 15px;
    font-family: zilla;
}
ul {
    list-style: none;
}
p {
    font-size: 4.5vw;
}
a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
span {
    font-size: 2.2vw;
    color: rgb(221, 149, 149);
}
h3 {
    font-size: 3.3vw;
    font-family: zillabold;
    padding: 30px 0px 0px 0px;
}
h4 {
    font-size: 2.3vw;
    font-family: zillabold;
}
/*default, small phones*/
.wrapper {
    height: 100%;
    grid-gap: 8px;
    display: grid;
    grid-template-columns: repeat(auto, minmax(auto, 500px));
    grid-template-rows: 1.25fr 40px 5fr 20px;
    grid-template-areas:
    "h h h h h h h h h h h h h h h"
    "m m m m m m m m m m m m m m m"
    "c c c c c c c c c c c c c c c"
    "f f f f f f f f f f f f f f f"
    } 
    header {
    grid-area: h;
    background-color: ivory;
    box-shadow: 5px 5px 10px #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    }
            .logo {
                margin: 10px 5px;;
                height: auto;
                width: auto;
                max-width: 150px;
            }
    menu {
    grid-area: m;
    background-color: ivory;
    box-shadow: 5px 5px 10px #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    }
            .sidemenu {
                display: flex;
            }
            .sidemenu li{
                margin: 0px 15px 3px 15px;
            }
            .sidemenu a {
                color: black;
                font-family: zilla;
            }
            .sidemenu a:hover {
                color: rgb(221, 149, 149);
                text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.336);
            }
    main{
    grid-area: c;
    background-color: rgba(125, 255, 194, 0);
    box-shadow: 5px 5px 10px #bdbdbd;
    padding: 4vw 6vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
        /*about page main content*/
        .main-about {
            display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7vw 6vw;
        }
        .main-about p {
            width: 80%;
            text-indent: 25px;
            margin: 0.75vw;
        }
        /*work page main content*/
        .main-work {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .main-work li {
            margin: 4vw 0vw 4vw 0vw;
        }
        .main-work a{
            font-size: 5vw;
        }
        /*events page main content*/
        .main-events ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            }
            .main-events li {
                margin: 1vw 0vw 1vw 0vw;
            }
            .main-events li p{
                font-size: 3vw;
            }
                    /*contact page main content*/
        .main-contact {
            display: flex;
            align-items: flex-start;
            }
            .main-contact p {
                width: 80%;
                text-indent: 25px;
                margin: 0.75vw;
                font-size: 2.8vw;
            }
            .contact-form input {
                height: auto;
                max-height: 20px;
                width: 25vw;
                padding: 15px;
            }
            .contact-form p {
                text-indent: 25px;
                margin: 0.75vw;
                width: 100%;
            }
    footer{
    grid-area: f;
    background-color: ivory;
    box-shadow: 5px 5px 10px #bdbdbd;
    display: flex;
    justify-content: space-between;
    }
    footer p {
        font-size: 12px;
        margin: 5px 10px;
    }
@media (max-width: 319px) {
    .sidemenu li{
        margin: 0px 12px 3px 12px;
    }
}

/*bigger phones*/
@media (min-width: 321px) and (max-width: 449px) {
                .logo {
                    max-width: 180px;
                }
                .sidemenu li{
                    margin: 0px 20px 3px 20px;
                }
        main p {
        text-indent: 25px;
    }
}
/*real big phones, smaller tablets*/     
@media (min-width: 450px) and (max-width: 599px) {
        .logo {
            max-width: 220px;
        }
        .sidemenu li{
            margin: 0px 25px 3px 25px;
        }
                /*work page main content*/
                .main-work a{
                    font-size: 3vw;
                }
} 
/*medium tablets*/     
@media (min-width: 600px) and (max-width: 767px) {
        .logo {
            max-width: 260px;
        }
        .sidemenu li{
            margin: 0px 30px 3px 30px;
        }
        .sidemenu li a{
            font-size: 4vw;
        }
        main p {
            font-size: 3vw;
        }
                /*work page main content*/
                .main-work a {
                    font-size: 3vw;
                }
} 
/*bigger tablets  ~~~~~CHANGE GRID~~~~~     */     
@media (min-width: 768px){
    .wrapper {
        height: 100%;
        grid-gap: 8px;
        display: grid;
        grid-template-columns: minmax(250px, auto) 150px ;
        grid-template-rows: 170px 0 5fr 25px;
        grid-template-areas:
        "h h"
        "m m"
        "c c"
        "f f"
        } 
    header {
        justify-content: flex-start;
    }    
        .logo {
            margin-left: 5vw;
            max-width: 260px;
        }
    menu{
        display: flex;
        margin-top: -115px;
        background-color: transparent;
        box-shadow: 0px 0px 0px;
        justify-content: flex-end;
        }
                .sidemenu {
                    padding: 0px 4vw;
                    display: flex;
                    justify-content: flex-end;
                }
                .sidemenu li{
                    margin: 0vw 2vw 0vw 2vw;
                }
                .sidemenu a {
                    color: black;
                    font-family: zilla;
                    font-size: 25px;
                }
        main p {
            font-size: 2.2vw;
        }
        /*work page main content*/
        .main-work a{
            font-size: 3vw;
        }
    @media (min-height: 1024px) {
        main p {
            font-size: 3.2vw;
        }
        .main-work a{
            font-size: 4vw;
        }
    }
    @media (min-height: 1280px) {
        main p {
            font-size: 3.5vw;
        }
        .main-work a{
            font-size: 4vw;
        }
    }
}
/*huge tablets, desktop ~~~~~fixing menu spacing and font size regulation~~~~~     */     
@media (min-width: 950px){ 
    main p {
        font-size: 1.9vw;
    }
    .sidemenu li{
        margin: 0vw 3vw 0vw 3vw;
    }
    .sidemenu a {
        color: black;
        font-family: zilla;
        font-size: 32px;
    }
    @media (min-height: 1280px) {
        main p {
            font-size: 3.3vw;
        }
    }
}
/*hugerrrrr tablets, desktop ~~~~~fixing menu spacing and font size regulation~~~~~     */     
@media (min-width: 1300px){ 
    main p {
        font-size: 1.7vw;
    }
    .sidemenu li{
        margin: 0vw 3.2vw 0vw 3.2vw;
    }
}