                                        /*~~~~~ F O N T S ~~~~~*/
@font-face {
    src: url(fonts/ZillaSlab-Bold.ttf);
    font-family: zillabold;
}
@font-face {
    src: url(fonts/ZillaSlab-Light.ttf);
    font-family: zilla;
}
@font-face {
    src: url(fonts/PassionOne-Bold.ttf);
    font-family: passion;
}
                                        /*~~~~~ G L O B A L ~~~~~*/
* {
    margin: 0;
    padding: 0;
  }
html {
    height: 100vh;
    margin: 0;
}
body { 
    background-color: rgba(125, 255, 194, 0.459);
    height: 96%;
    margin: 15px;
    font-family: zilla;
}
ul {
    list-style: none;
}
p {
    font-size: 4.5vw;
}
a{ /*links are found in menu and work.html*/
    font-size: 4vw;
    text-decoration: none;
    color: black;
}
span { /*used in work.html to break publishing dates*/
    font-size: 2vw;
    color: rgb(221, 149, 149);
}
h3 {
    font-size: 5vw;
    font-family: zillabold;
}
input {
    border-style: none;
    background-color: rgba(255, 255, 255, 0.61);
    box-shadow: 2px 2px 5px #bdbdbd;
    height: 4vh;
    min-height: 15px;
    width: 75vw;
    max-width: 350px;
}

/*default, small phones*/               /*~~~~~  PAGE DEFAULTS ~~~~~*/
.wrapper {                                        /*FULL PAGE GRID*/
    height: 100%;
    grid-gap: 8px;
    display: grid;
    grid-template-columns: minmax(auto, 1fr);
    grid-template-rows: 0.8fr 40px 5fr 20px;
    grid-template-areas:
    "h"
    "m"
    "c"
    "f"
    }
header {                                           /*HEADER*/
    grid-area: h;
    background-color: ivory;
    box-shadow: 5px 5px 10px #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.logo {                                            /*LOGO*/
                margin: 5px;
                height: auto;
                width: auto;
                max-width: 130px;
            }
menu {                                             /*MENU*/
    grid-area: m;
    background-color: ivory;
    box-shadow: 5px 5px 10px #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.sidemenu {
    display: flex;
}
.sidemenu li{
    margin: 0px 15px 3px 15px;
}
.sidemenu a:hover {
    color: rgb(221, 149, 149);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.336);
}
main{                                              /*MAIN CONTENT AREA GLOBAL*/
    grid-area: c;
    background-color: rgba(125, 255, 194, 0);
    box-shadow: 5px 5px 10px #bdbdbd;
    padding: 4vw 6vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
                                                    /*ABOUT.html*/
.main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vw 6vw;
    }
.main-about p { /*indents main text in about*/
    text-indent: 3vw;
}
                                                    /*WORK.html*/
.main-work {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.main-work li {
    margin: 1vw 0vw 1vw 0vw;
    margin-bottom: -5px;
}
                                                    /*WORK.html*/
.main-events {
    align-items: flex-start;
}
.main-events ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
.main-events li {
    margin: 1vw 0vw 1vw 0vw;
}
                                                    /*CONTACT.html*/
.main-contact {
display: flex;
justify-content: flex-start;
align-items: flex-start;
}
.input-comments {
    min-height: 60px;
}
.submit-button {
    background-color:rgb(221, 149, 149);
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px #bdbdbd;
    border-style: none;
    margin: 10px 0px;
    height: 8vh;
    min-height: 30px;
    width: 75vw;
    max-width: 350px;
}
footer{
grid-area: f;
background-color: ivory;
box-shadow: 5px 5px 10px #bdbdbd;
display: flex;
justify-content: space-between;
}
/*VERY small media*/
@media (max-width: 319px) {
    .sidemenu li{
        margin: 0px 12px 3px 12px;
    }
    span {
        font-size: 5vw;
    }
}
/*bigger phones*/
@media (min-width: 321px) and (max-width: 449px) {
    .logo {
        max-width: 160px;
    }
    .sidemenu li{
        margin: 0px 20px 3px 20px;
    }
    span {
        padding: 3px;
        font-size: 5vw;
    }
}
/*real big phones, smaller tablets*/     
@media (min-width: 450px) and (max-width: 599px) {
    .logo {
        max-width: 220px;
    }
    .sidemenu li{ /*needed to push down li a bit*/
        margin: 3px 25px 3px 25px;
    }
} 
/*medium tablets*/     
@media (min-width: 600px) and (max-width: 767px) {
    .logo {
        max-width: 230px;
    }
    .sidemenu li{
        margin: 0px 30px 3px 30px;
    }
} 
/*bigger tablets  ~~~~~CHANGE FULL PAGE GRID~~~~~     */     
@media (min-width: 768px) {
    header {
        justify-content: flex-start;
    }    
    .logo {
        margin-left: 5vw;
        max-width: 230px;
    }
    menu{
        display: flex;
        margin-top: -150px;
        background-color: transparent;
        box-shadow: 0px 0px 0px;
        justify-content: flex-end;
        }
    .sidemenu {
        padding: 0px 0vw;
        display: flex;
        justify-content: flex-end;
    }
    .sidemenu li {
        margin: 0vw 2vw 0vw 2vw;
    }
    .main-contact {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        }   
    @media (min-height: 1024px) { /*for big tablets in portrait display, reverts to default but bigger elements*/
        .main-contact {
            flex-direction: column;
            align-items: center;
        }
        /* .main-work a{
            font-size: 4vw;
        } */
    }
    @media (min-height: 1280px) {
        .main-work ul{
            width: 70%;
        }
        /* .main-work a {
            font-size: 4vw;
        } */
    }
}
/*huge tablets, desktop*/     
@media (min-width: 950px){ 
    .sidemenu li{
        margin: 0vw 3vw 0vw 3vw;
    }
    /* .sidemenu a {
        color: black;
        font-family: zilla;
        font-size: 32px;
    } */
    /* .main-work a {
        font-size: 2.5vw;
    } */
    @media (min-height: 1280px) {
        .main-work ul{
            width: 70%;
        }
        /* .main-work a {
            font-size: 4vw;
        } */
    }
}
/*hugerrrrr tablets, desktop*/     
@media (min-width: 1300px){ 
    .sidemenu li{
        margin: 0vw 3.2vw 0vw 3.2vw;
    }
    /* .main-work a {
        font-size: 2vw;
    } */
}